pyspark==3.5.1
pandas>=2.0.0
numpy>=1.23.0
matplotlib>=3.7.0
seaborn>=0.12.0
jupyter>=1.0.0
notebook>=7.0.0
tqdm>=4.66.0

## After the project is completed then at last, Use it only once to install the package in editable mode and then comment it out 
#-e .